#  Boost profiles for Xiaomi Mi Note 3 targeted for TwistLoop kernel.

# Medium
on property:persist.governor.profile=2

write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
write /sys/module/cpu_input_boost/parameters/max_stune_boost 50
write /sys/module/cpu_input_boost/parameters/general_stune_boost 10
write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 25

# High
on property:persist.governor.profile=1

write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
write /sys/module/cpu_input_boost/parameters/max_stune_boost 75
write /sys/module/cpu_input_boost/parameters/general_stune_boost 30
write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 50

# Low
on property:persist.governor.profile=3

write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
write /sys/module/cpu_input_boost/parameters/max_stune_boost 50
write /sys/module/cpu_input_boost/parameters/general_stune_boost 8
write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 18

# Very High
on property:persist.governor.profile=0

write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
write /sys/module/cpu_input_boost/parameters/max_stune_boost 100
write /sys/module/cpu_input_boost/parameters/general_stune_boost 50
write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 75

# Very Low
on property:persist.governor.profile=4

write /sys/module/cpu_input_boost/parameters/input_boost_duration 64
write /sys/module/cpu_input_boost/parameters/max_stune_boost 50
write /sys/module/cpu_input_boost/parameters/general_stune_boost 5
write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 13
